.button {
  background: none;
  border: none;
  height: 10px;
}

.liked {
  color: #64b5f6;
}

.title {
  font-weight: bold;
  color: #64b5f6;
}

.time {
  font-size: 14px;
  color: #666565;
}

.iconSpan {
  font-size: 18px;
  line-height: 18px;
  margin-right: 5px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
}

.postImage {
  width: 100%;
  margin: 0 auto;
  left: 20px;
  top: 10px;
}

.card-image {
  width: 200px;
  height: auto;
}

.active {
  width: 350px;
  height: 350px;
  border-radius: none;
  margin: -150px 0px 0px 120px;
}

.collection {
  border: none;
}

.collection-item {
  border: none;
}

.postDiv {
  background-color: #64b5f6 !important;
}

form {
  background-color: #fff;
}

.formDiv {
  margin: 0 20px 0 20px;
}

.addImageBtn {
  margin-bottom: 5px;
}

.postBtn {
  float: right;
  margin-bottom: 5px;
  margin-top: 1rem;
  height: 3rem;
  line-height: 3rem;
}

.deleteBtn {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
  background-color: red;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.file-field input[type="file"] {
  width: 70%;
}

.text {
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  .collection .collection-item.avatar {
    padding-left: 65px;
  }

  .collection .collection-item {
    padding-right: 0;
  }
}
