.bodyDiv {
  /* height: 100vh; */
  margin-bottom: 0;
  margin-top: 0;
}

div.bodyContainer {
  margin-top: 50px;
}

.tabs a {
  color: #64b5f6;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background-color: inherit;
}

.cards {
  background-color: #fff;
}

.auth-content {
  height: 415px;
}
