.bodyDiv {
  height: 100vh;
  margin-bottom: 0;
  margin-top: 0;
}

div.bodyContainer {
  margin-top: 50px;
}

.tabs a {
  color: #64b5f6;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background-color: inherit;
}

.cards {
  background-color: #fff;
}

.auth-content {
  height: 415px;
}

@media only screen and (max-width: 480px) {
  .bodyDiv {
    height: 100%;
  }
  .tabs {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .auth-content {
    height:380px;
  }

  .card-panel {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .bodyDiv {
    height: 100%;
  }
}
